.map-page {
  .collective-info {
    padding: 10px;
    .button {
      padding: 3px 5px;
    }
    p {
      padding-left: 20px;
    }
  }
  .collective-list {
    padding-top: 50px;
    padding-bottom: 100px;
    h2 {
      margin-bottom: 40px;
    }
  }
  .delivery-list {
    background-color: #F7F7F7;
  }
}
