<footer id="footer" class="dark">



  <!-- Copyrights
  ============================================= -->
  <div id="copyrights">

    <div class="container clearfix">

      <div class="col_half">
        Copyrights &copy; 2016 All Rights Reserved by Plus<br>
      </div>

      <div class="col_half col_last tright">
        <div class="fright clearfix">
          <a href="https://instagram.com/plus_gum" class="social-icon si-small si-borderless si-instagram">
            <i class="icon-instagram"></i>
            <i class="icon-instagram"></i>
          </a>

          <a href="https://www.facebook.com/chewplus" class="social-icon si-small si-borderless si-facebook">
            <i class="icon-facebook"></i>
            <i class="icon-facebook"></i>
          </a>

          <a href="https://twitter.com/plus_gum" class="social-icon si-small si-borderless si-twitter">
            <i class="icon-twitter"></i>
            <i class="icon-twitter"></i>
          </a>
        </div>

        <div class="clear"></div>

        <a href="mailto:hi@plusgum.com" target="_blank"><i class="icon-envelope2"></i> hi@plusgum.com </a><span class="middot">&middot;</span> <a href="tel:+18005640842"><i class="icon-headphones"></i> +1 (800) 564-0842 </a><span class="middot">&middot;</span> <a onclick="Intercom('show')"><i class="icon-comment"></i> Chat With Us</a>
      </div>

    </div>

  </div><!-- #copyrights end -->

</footer><!-- #footer end -->
