<div class="modal fade" id="age-gate" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            <div class="center-block">
              <%= image_tag "plus_text", id: 'plus-logo-modal' %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="line-blue">&nbsp;</div>
        </div>

        <div class="row">
          <div class="col-xs-12 text-center">
            <p id="age-warn">PLEASE VERIFY YOUR AGE</p>
          </div>
        </div>

        <div class="row">
          <div class="line-blue">&nbsp;</div>
        </div>

        <div class="row checkform">
          <div class="col-xs-12 text-center">
            <div class="checkbox">
              <label><input type="checkbox" value="" id="age-conf-checkbox">I am over the age of 21</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 text-center">
            <button type="button" class="button button-primary" data-dismiss="modal" id="modal-continue-button" disabled>continue</button>
          </div>
        </div>

        </div>
      </div>
    </div>
  </div>
</div>
