// from package
$color-package-deep-blue: #0072ce; // PMS 285 c
$color-package-light-blue: #b9d9eb; // PMS 290 c
$color-package-light-green: #00b398; // PMS 3275 c
$color-package-pink: #CB1475;

// other colors
$color-light-gray: #ccc;
$color-white-on-deep-blue: #fff;
$color-white-on-light-green: #fff;
$color-white-on-pink: #fff;

// darkened colors
$color-darker-package-deep-blue: #005499;
$color-darker-package-light-green: #00806c;
$color-darker-package-pink: #9E105B;

// text on darkened colors
$color-white-on-darker-package-light-green: #ddd;
$color-white-on-darker-package-deep-blue: #ddd;
$color-white-on-darker-package-pink: #ddd;

// Eric's additions
$color-darker-grey-text: #8c8c8c;