.navbar {
  padding-top: 10px;
  background-color: $color-package-deep-blue;
  margin-bottom: 0px;
  border: none !important;
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

#navbar-collapse-1 {
  border: none;
}

.navbar-brand img {
  height: 25px;
}

.nav.navbar-nav.navbar-right {
  @media (min-width: 768px) {
    margin-top: 5px;
  }
  a:hover {
    text-decoration: none;
    color: $color-package-light-blue;
  }
}

.navbar-default .navbar-nav > li > a {
  @include font-helvetica-neue-light;
  letter-spacing: 1px;
  color: $color-white-on-deep-blue;
}
