.ReadMsgBody { width: 100%; background-color: #ebebeb;}
        .ExternalClass {width: 100%; background-color: #ebebeb;}
        .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height:100%;}
        body {-webkit-text-size-adjust:none; -ms-text-size-adjust:none;}
        body {margin:0; padding:0;}
        table {border-spacing:0;}
        table td {border-collapse:collapse;}
        .yshortcuts a {border-bottom: none !important;}
        @media screen and (max-width: 600px), screen and (max-device-width: 600px) {
            table[class="container"] { width: 95% !important; }
        }
        @media screen and (max-width: 480px), screen and (max-device-width: 480px) {
            td[class="container-padding"] { padding-left: 12px !important; padding-right: 12px !important; }
        }

body.mail {
  background-color: #f0f0f0;
  padding: 10px 0;
  margin: 10px 0;
  table.container { box-shadow: 0 0 3px #ddd; border-bottom: 1px solid #e0e0e0; font-family: Helvetica, Verdana, sans-serif; color: #434343; }
  table.container td { border-left: 1px solid #e0e0e0; }
  table.container td.header div { min-height: 50px; border: none; background-color: #0072ce; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; box-shadow: inset 0 1px 0 #3e6aaa; text-align: center; }
  table.container td.header #logo { margin:20px; }

  table.container td.logo { text-align: center; padding: 50px 0; border-bottom: 1px solid #efefef; }
  h1, h2, h3, h4, h5, h6 { color: #0072ce; line-height: 1.5; margin: 0 0 25px 0; }
  h1 { font-size: 22px; } h2 { font-size: 18px; } h3 { font-size: 16px; } h4, h5, h6 { font-size: 14px; }
  p { font-size: 14px; line-height: 1.5; margin: 0 0 25px 0; color: #434343; }
  a { color: #0072ce; text-decoration: underline; }
  td.container-padding img { border: 1px solid #ddd; padding: 37px; margin: 0 19px; box-shadow: 0 0 3px #ddd; }
  a.intercom-h2b-button { background-color: #0072ce; border-radius: 5px; border: 1px solid rgba(0,0,0,0.2); color:#fff; display: inline-block; font-size: 15px; font-weight: bold; min-height: 20px; padding: 9px 15px; text-decoration: none; }
  ul li, ol li { font-size: 14px; line-height: 1.5; }
  table.footer { border-top: 1px solid #efefef; width: 100%; height: 69px; }
  table.footer td { vertical-align: middle; text-align: center; color: #434343; font-size: 12px; }
  table.footer td.social { width: 60%; line-height: 20px; border-left: none; }
  table.footer td.social a { font-weight: bold; text-decoration: none; }
  table.footer td.social a.twitter { color: #00aced; }
  table.footer td.social a.facebook { color: #6d83bc; }
  table.footer td.social img { vertical-align: middle; }
  table.footer td.subscription { width: 40%; }
  table.footer td.subscription a { color: #434343; }
  #logo { height: 50px; }
  table.innertable {
    border-spacing: 10px 15px;
    margin-bottom: 30px;
  }
  .totalrow {
    font-weight: bold;
  }
}

body.mail div.content {
  margin-top: 20px;
  table {
    font-size: 14px;
    td {
      border: none;
    }
  }
}
