<%= render "shared/headerv2" %>

<div class="section nomargin noborder">
  <div class="heading-block center nobottomborder nobottommargin">
    <h2>where</h2>
  </div>
</div>

<div class="section parallax full-screen nomargin noborder dark" style="background-image: url('<%= image_path('large/hands_plus') %>');" data-stellar-background-ratio="0.4">
</div>

<div class="section nomargin noborder">
  <div class="heading-block center nobottomborder nobottommargin">
    <h2>"I can't believe how quickly it worked."</h2>
  </div>
</div>
<div id="instagram-photos" class="instagram-photos masonry-thumbs col-5" data-user="2032193147" data-count="10" data-type="user" data-resolution="standard_resolution"></div>
